.App {
    background-color: #1a1a1a;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position:absolute;
    left:0;
    top:0;
}



.SearchResults-Container{
    width:50vw;
    .SearchResults-List{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        padding-top:2vh;
        .SearchResults-Item{
            display:block;
            margin-bottom:3vh;
            border:1px white solid;
            position:relative;
            border-radius:20px;
            color:white;
            width:30%;
            font-size:0.8em;
            font-family: 'Poppins', sans-serif;
            .SearchResults-Item-Title{
                margin-top:3%;
                position:relative;
                left:2vw;
            }
            .SearchResults-Item-Detail{
                margin-top:-5%;
                position:relative;
                left:3vw;
            }
        }
    }
}