.App {
    background-color: #1a1a1a;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position:absolute;
    left:0;
    top:0;
}


.SearchResults-Container{
    width:52vw;
    .SearchResults-List{
        display: flex;
        padding-left:1vw;
        width: 100%;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        padding-top:2vh;
        .SearchResults-Item{
            display:block;
            margin-bottom:3vh;
            margin-right:1.5vw;
            border:1px white solid;
            position:relative;
            border-radius:20px;
            color:white;
            width:30%;
            font-size:0.8em;
            font-family: 'Poppins', sans-serif;
            .SearchResults-Item-Title{
                margin-top:3%;
                position:relative;
                left:2vw;
            }
            .SearchResults-Item-Detail{
                margin-top:-5%;
                position:relative;
                left:3vw;
            }
        }
    }
}

.AddUser-Button{
    display:block;
    font-size:0.8em;
    font-family: 'Poppins', sans-serif;
    color:white;
    border-radius: 20px;
    border: none;
    box-shadow:0px 0px 3px black;
    background-color:#ee1e64;
    height:4vh;
    margin:2vh auto 0 auto;
    cursor:pointer;
    padding-left:1vw;
    padding-right:1vw;
}

.AddUser-Container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border-radius:20px;
    background-color:white;
    border:1px solid #ee1e64;
    padding: 2vh 1vw;
    width:32vw;
    position:absolute;
    bottom:7vh;
    z-index: 10;

    input:invalid {
        border: 1px solid black;
    }
      
      
    .AddUser-NameField{
        display:block;
        border-radius:20px;
        height:3.5vh;
        width: calc((30vw / 2) - 1.5vw);
        padding-left:1.5vw;
        font-size:0.8em;
        font-family: 'Poppins', sans-serif;
        border: 1px #ee1e64 solid;
    }
    .AddUser-DetailField{
        display:block;
        border-radius:20px;
        height:3.5vh;
        width: calc((30vw / 3) - 1.5vw);
        margin-top: 2vh;
        padding-left:1.5vw;
        font-size:0.8em;
        font-family: 'Poppins', sans-serif;
        border: 1px #ee1e64 solid;
    }
}